body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../img/lognbackground.jpg)no-repeat ;

	background-size: cover;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 400px;
	padding: 40px;
	background: rgba(255, 255, 255, .3);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.box .inputBox {
	position: relative;
}

.box .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	border: none;
	margin-bottom: 30px;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #33ffee;
	font-weight: 500;
	/*color: yellow;*/
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
	top: -18px;
	left: 0;
	/*color: #03a9f4;*/
	color: #2cacd1;
	font-weight: 500;
}
.box #getUsers {
	font-family: sans-serif;
	font-size: 6px;
	color:#FFFFFF;
}
.box #getUsers a{
	text-decoration:none;
	font-size: 6px;
	color:#FFFFFF;
}
.box #getUsers a:hover{
	text-decoration: underline;
	color: #02A7F9;
	cursor: pointer;
}
.box input[type="submit"] {
	/*position: absolute;
	top: 76.2%;
	left: 50%;*/
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03A9F4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
	
}
.box input[type="reset"] {
	/*position: absolute;
	top: 76.2%;
	left: 50%;*/
	margin-left: 30px;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03A9F4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);

}
